.img-circle {
  border-radius: 50%;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.impression {
  -webkit-filter: blur(3px)
}